body {
  margin: 0;
  background: url('../assets/bg-zebra.gif') repeat;
  font-family: 'Verdana', sans-serif;
  color: white;
}

.interface {
  width: 950px;
  margin: 50px auto;
  position: relative;
}

.interface-frame {
  width: 100%;
  z-index: 1;
  display: block;
}

.vhs-container {
  position: absolute;
  top: 100px; /* Ajuste en fonction de ton image interface */
  left: 80px;
  width: 800px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vhs-container img {
  width: 100%;
  max-width: 750px;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
}

.vhs-container img:hover {
  transform: scale(1.05);
  border: 2px solid #ff00ff;
}
